[Desktop Entry]
Encoding=UTF-8
Name=spore
Type=Link
URL=file:///~/Dropbox/Whatchudohome.odt
Icon=~/spore/assets/haeckel3.png
Exec=libreoffice --writer ~/Dropbox/Whatchudohome.odt & libreoffice --writer ~/Dropbox/Bank3.odt
