[Desktop Entry]
Encoding=UTF-8
Name=spore
Type=Link
URL=file:///~/dropbox/Whatchudohome.odt
Icon=/home/addy/.config/tint2/unleashed/.bookmarks-dot/icons/9gag.png
Exec=firefox -new-tab http://9gag.com
